<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPL Players</title> 
    <style>
        h1 {
            text-align: center;
            line-height: 2.5;
            margin-bottom:20px;
            padding:0;
            color:#333;
            text-transform: uppercase;
        }
        h2 {
            font-size:1.8em;
            color:#222;
            margin-bottom:30px;
            padding-bottom:5px;
            border-bottom: 3px solid #444;

        }
        section{
            background: white;
            margin: 20px auto;
            padding: 20px;
            box-shadow: 0 4px 6px rbga(0,0,0,0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f4f4f4;
        }
        /* position specific colors */
        .goalkeeper {
        background-color: #D3D3D3; /* Gold */
        }
        .defender {
            background-color: #FFFFFF; /* Light Green */
        }
        .midfielder {
            background-color: #D3D3D3	; /* Light Blue */
        }
        .forward {
            background-color: #FFFFFF; /* Tomato Red */
        }



    </style>
    <!-- LOAD THE CHART.JS HERE-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    <h1>FPL Insights</h1>

    <!--- add info for gameweek stuff here!  --> 
    <div id="gameweekInfo" style = "display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
        <h1> Current Gameweek: <span id = "gameweekGameweek"> Loading... </span> ------------- Deadline: <span id = "gameweekDeadlineDate"> Loading... </span> 
    
            <span id = "gameweekDeadlineTime">  </span>
        </h1>
    
    </div>

    
    <!-- FIRST TABLE -->
    
    <h2>Top 5 players: Overall points</h2>  
    <table id="topplayersTable">
        <thead> 
            <tr> 
                <th>Name</th>
                <th>Team</th>
                <th>Cost(million)</th>
                <th>Total Points</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be inserted here, iteratively add one tr for each player later-->
        </tbody>
    </table>
    
    <!-- SECOND TABLE -->
    <h2>Most valuable players below a price</h2>
    <label for = 'priceInput'>Enter Max Price (Millions):</label>
    <input type = 'number' id = 'priceInput' placeholder="Enter Price e.g. 8">
    <button id = 'fetchValuePlayersButton'>Find Value Players</button>
    <table id="topvalueTable">
        <thead> 
            <tr> 
                <th>Name</th>
                <th>Team</th>
                <th>Value</th>
                <th>Cost(million)</th>
                <th>Total Points</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be inserted here, iteratively add one tr for each player later-->
        </tbody>
    </table>

    
    <h2>Top players: Recent form (past 3 games) </h2>
    <label for="playerLimit">Number of players per position:</label>
    <select id = 'playerLimit'>
        <option value = '3'>Top 3 </option>
        <option value = '5'>Top 5 </option>
        <option value = '7'>Top 7 </option>

    </select>

    <table id = 'topPlayersRecentFormTable'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Team</th>
                <th>Average Points past 3 games</th>
                <th>Average ICT index past 3 games</th>
                <th>Recent Value</th>
                <th>Cost</th>
                <th>Total Points</th>
                <th>Value (points per million)</th>
            </tr>
        </thead>
        
        <tbody>
            <!--dynamic code will appear here-->
        </tbody>

    </table>

    <!-- THRID TABLE -->
    <h2>Most Popular Players by Net Transfers (Recent Gameweek)</h2>
        <label for="netTransferLimit">Number of players to display:</label>
        <select id="netTransferLimit">
            <option value="3">Top 3</option>
            <option value="5">Top 5</option>
            <option value="7">Top 7</option>
        </select>

        <table id="topPlayersNetTransfersTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Net Transfers (100k)</th>
                    <th>Selected (100k)</th>
                    <th>Cost (M)</th>
                    <th>Total Points</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically inserted here -->
            </tbody>
        </table>

    <h2>Player past performance</h2>
    <h3>Select a Player</h3>
    <select id="playerDropDown">
        <option value = ""> Select player </option>
    </select>
    
    <h3>Select another player</h3>
    <select id="playerDropDown2">
        <option value = ""> Select player </option>
    </select>
    

    <h3>Performance last 5 games</h3>

    <div style = 'display: flex; justify-content: center; gap:20px;'>
        <div style = 'width: 800px; height: 600px;'>
            <canvas id="playerChart" width = '1000' height = '1000'></canvas>
        </div>
        <div style = 'width: 800px; height: 600px;'>
            <canvas id="playerChart2" width = '1000' height = '1000'></canvas>                
        </div>
    </div>

    <h2>Correlation analysis per position (which factors matter?) </h2>
        <select id = 'positionDropdown'>
            <option value = '' > Select Position </option> 
            <option value = 'FWD' > Forward/striker </option> 
            <option value = 'MID' > Midfielder </option> 
            <option value = 'DEF' > Defender </option> 
            <option value = 'GK' > Goalkeeper </option> 
        </select>

    <div id = 'correlationPlot' style = 'margin-top: 20px'>
        <!-- correlation plot will insert here-->
        <img id = 'corrImage' src = '' alt = 'Correlation Plot' style = 'width: 100% ; max-width: 800px; display: none;'>
        
    </div>

    <script>

        async function get_top_players() {
            // get data from the endpoint via flask api (insert endpoint url )
            console.log('ian');
            const response = await fetch('http://127.0.0.1:5000/topplayers');
            const players = await response.json(); // save json into players object 
            
            // get the table body element (table name + table body i.e. which part of table to inset )
            const tableBody = document.querySelector('#topplayersTable tbody');

            players.forEach(player => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${player.name}</td>
                    <td>${player.team}</td>
                    <td>${(player.now_cost/10).toFixed(1)}</td>
                    <td>${player.total_points}</td>
                    <td>${player.position}</td>
                    `;
                    tableBody.appendChild(row);
                }); }
                
                /////////////////////////////////////////////////////////////////////////////////// 
        async function get_players_recent_form() {
            console.log('begin function for players recent form')
            const nplayers = document.getElementById('playerLimit').value; // extract the value only
            const response = await fetch(`http://127.0.0.1:5000/topplayers/position?limit=${nplayers}`);
            const players = await response.json();
            console.log('limit:' + nplayers)
            const tableBody = document.querySelector('#topPlayersRecentFormTable tbody');

            // reset the table each time 
            tableBody.innerHTML = '' //set to blank 
            
            players.forEach(player => {
                const row = document.createElement('tr')
                // Add CSS class based on position
                let positionClass = '';
                switch (player.position.trim()) {
                    case 'GKP':
                        positionClass = 'goalkeeper';
                        break;
                    case 'DEF':
                        positionClass = 'defender';
                        break;
                    case 'MID':
                        positionClass = 'midfielder';
                        break;
                    case 'FWD':
                        positionClass = 'forward';
                        break;
                }
                console.log('position class' + positionClass)

                row.classList.add(positionClass);

                row.innerHTML = `
                <td>${player.name}</td>
                <td>${player.position}</td>
                <td>${player.team}</td>
                <td>${player.past_3_games_avg}</td>
                <td>${player.past_3_ICT_avg}</td>
                <td>${player.recent_value}</td>
                <td>${(player.cost_mil)}</td>
                <td>${(player.total_points)}</td>
                <td>${(player.value)}</td>
                `;
                tableBody.appendChild(row);
            });}
    
        ///////////////////////////////////////////////////////////////////////////////////
        async function get_popular_players() {
            console.log('Getting popular players');
            const nplayers2 = document.getElementById('netTransferLimit').value;
            const response = await fetch(`http://127.0.0.1:5000/topplayers/popular?limit=${nplayers2}`);
            console.log('player limit ' + nplayers2)
            const players = await response.json();
            
            const tableBody = document.querySelector('#topPlayersNetTransfersTable tbody')

            // clear table body 
            tableBody.innerHTML = '';

            //populate table body 
            players.forEach(player => {
                const row = document.createElement('tr');
                let positionClass = '';
                    switch (player.position.trim()) {
                        case 'GKP': positionClass = 'goalkeeper'; break;
                        case 'DEF': positionClass = 'defender'; break;
                        case 'MID': positionClass = 'midfielder'; break;
                        case 'FWD': positionClass = 'forward'; break;
                    }
                row.classList.add(positionClass);
                row.innerHTML = `
                    <td>${player.name}</td>
                    <td>${player.position}</td>
                    <td>${player.team}</td>
                    <td>${player.net_transfers}</td>
                    <td>${player.selected}</td>
                    <td>${player.cost_mil}</td>
                    <td>${player.total_points}</td>
                    <td>${player.value}</td>
                `;
                tableBody.appendChild(row);
            });
        
        }
        
        async function get_gameweek() {
            console.log('ian3');
            const response = await fetch('http://127.0.0.1:5000/gameweek')
            if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
            const [gameweekInfo] = await response.json(); 
            
            const gameweek = gameweekInfo.gameweek.replace('Gameweek ', '');

            // Combine deadline_date and deadline_time into a Date object
            const deadline = new Date(`${gameweekInfo.deadline_date}T${gameweekInfo.deadline_time}`);

            // Format the date as dd-(%b)
            const formattedDate = deadline.toLocaleDateString('en-US', {
                day: '2-digit',
                month: 'short'
            });

            // Format the time as hh:mm (no seconds)
            const formattedTime = deadline.toLocaleTimeString('en-US', {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            });

            // Update the DOM with the formatted values
            document.getElementById('gameweekGameweek').textContent = gameweek;
            document.getElementById('gameweekDeadlineDate').textContent = formattedDate;
            document.getElementById('gameweekDeadlineTime').textContent = formattedTime;
            }
        
        async function populatePlayerDropdown() {
            const response = await fetch('http://127.0.0.1:5000/players');
            const players = await response.json();
            const dropdown = document.getElementById('playerDropDown'); //find the dropdown option -- we will be adding options 
            const dropdown2 = document.getElementById('playerDropDown2'); // for the second dropdown element
            console.log('populatePlayerDropdown' + dropdown)

            //clear existing option
            dropdown.innerHTML = "<option value = ''> Select player </option>";
            dropdown2.innerHTML = "<option value = ''> Select player </option>";

            //ADD OPTIONS FOR PLAYERS
            players.forEach(player => {
                const option = document.createElement('option'); 
                const option2 = document.createElement('option'); 
                option.value = player.player_id; //set value to pid --> this will help to send info back to backend for more processing
                option.textContent = player.name;
                dropdown.appendChild(option);
                option2.value = player.player_id; //set value to pid --> this will help to send info back to backend for more processing
                option2.textContent = player.name;
                dropdown.appendChild(option);
                dropdown2.appendChild(option2);
            });
            
        }
        
        let chart1 = null;
        let chart2 = null;
        console.log('Chart.js loaded:', typeof Chart !== 'undefined');
        async function plotPlayerPerformance(playerId, chartid, chartvariable) {
            const response = await fetch(`http://127.0.0.1:5000/player/${playerId}/history`);
            const playerData = await response.json();

            // Save the data objects from API
            const playerHistory = playerData.history;
            const past_3_avg = playerData.past_3_avg;
            const past_5_avg = playerData.past_5_avg;
            const season_avg = playerData.season_avg;

            // Extract data via for loops 
            const rounds = playerHistory.map(game => `GW${game.round}`);
            const actualPoints = playerHistory.map(game => game.total_points);
            const bonus = playerHistory.map(game => game.bonus);

            if (chartvariable) { //clear chart if it exists, if not will create chartvariable below
                console.log(`destroying existing chart ${chartid}`);
                chartvariable.destroy();
            }
            
            const ctx = document.getElementById(chartid).getContext('2d');
            newchart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: rounds,
                    datasets: [
                        {
                            label: 'Actual Points',
                            data: actualPoints,
                            borderColor: 'blue',
                            backgroundColor: 'rgba(0,0,255,0.1)',
                            fill: true,
                            tension: 0.3,
                        },
                        {
                            label: 'Bonus Points',
                            data: bonus,
                            borderColor: 'red',
                            backgroundColor: 'rgba(0,255,0,0.1)',
                            fill: true,
                            tension: 0.3,
                        },
                        {
                            label: 'Past 3-game Avg',
                            data: Array(rounds.length).fill(past_3_avg),
                            borderColor: 'green',
                            borderDash: [5, 5],
                            pointStyle: false
                        },
                        {
                            label: 'Past 5-game Avg',
                            data: Array(rounds.length).fill(past_5_avg),
                            borderColor: 'orange',
                            borderDash: [5, 5],
                            pointStyle: false
                        },
                        {
                            label: 'Season Avg',
                            data: Array(rounds.length).fill(season_avg),
                            borderColor: 'red',
                            borderDash: [5, 5],
                            pointStyle: false
                        }
                            ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    const datasetLabel = context.dataset.label;
                                    const value = context.raw;
                                    return `${datasetLabel}: ${value > 0 ? '+' : ''}${value}`;
                                },
                            },
                        },
                        legend: {
                            position: 'top',
                        },
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Gameweek',
                            },
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Points',
                            },
                            min:0,
                            max:25,
                        },
                    },
                },
            });
            // chart.resize({
            // width: 400, // Target width
            // height: 200, // Target height
            // });
        
        return newchart;
    }
        async function populateValuePlayers(price) {
            //get data from api
            const response = await fetch(`http://127.0.0.1:5000/topplayersvalue?price=${price}`);
            const players = await response.json();
            
            //get table body to populate 
            const tablebody = document.getElementById('topvalueTable');

            //populate 
            players.forEach(player => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${player.name}</td>
                    <td>${player.team}</td>
                    <td>${player.value}</td>
                    <td>${player.cost_mil}</td>
                    <td>${player.total_points}</td>
                    <td>${player.position}</td>
                    `;
                tablebody.appendChild(row);
            })

    }

              
        // ADD EVENT LISTENER -- FOR THE BACKEND TO KNOW WHICH PLAYER THE USER HAS CHOSEN FROM DROPDOWN
        document.getElementById('playerDropDown').addEventListener('change', async (event) => {
        const playerId = event.target.value; // when the event occurs, then save playerId of player selected
        if (playerId) {
            chart1 = await plotPlayerPerformance(playerId, 'playerChart', chart1); //then run the plot function! (js function))
        }
        });

        // Second event listener for PLOTS 
        document.getElementById('playerDropDown2').addEventListener('change', async (event) => {
        const playerId = event.target.value;
        if (playerId) {
            chart2 = await plotPlayerPerformance(playerId, 'playerChart2', chart2)
        }
        });

        // Add event listener for the nplayers limit for recent form 
        document.getElementById('playerLimit').addEventListener('change', get_players_recent_form);

        // Add event listener for the nplayers limit for popular 
        document.getElementById('netTransferLimit').addEventListener('change', get_popular_players);

        // Add event listener for VALUE PLAYERS 
        document.getElementById('fetchValuePlayersButton').addEventListener('click', () => {
            const maxPrice = parseFloat(document.getElementById('priceInput').value); //get inputted max price
            const tablebody = document.getElementById('topvalueTable').querySelector('tbody');
            tablebody.innerHTML = '' ;// clear
            console.log('clearing tablebody innerhtml');
            
            populateValuePlayers(maxPrice);
        });


        // Fetch players when the page loads
        window.onload = async() => {
            await get_top_players();
            await get_gameweek();
            await populatePlayerDropdown();
            await get_players_recent_form();
        };
    </script>
</body>
</html>